.??*
*.pickle*
*.p
*.fits*
*~
*.aux
*.dvi
*.log
*.blg
*.pyc
*.tex
*.txt
*.csv
*.synctex.gz
*.pdf
*.eps
*.png
*.npz
*.sh
examples/*
build/*
docs/*
dist/*
TheCannon.egg-info/*
cont_fit_experiments/*
lamost_paper/*
lamost_poster/*
madrid_meeting/*
